<section class="container">
  <article class="tile">
    <figure class="tile__figure">
      <slot />
    </figure>
  </article>
</section>
<canvas id="stage"></canvas>

<style>
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
.tile {
  width: 35vw;
  flex: 0 0 auto;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
</style>